<div class="home">
  <div class="container">
    <div>
      <h2>Descubre Psicologist</h2>
      <div class="services-holder">

        <a href="/psychologists" class="services">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTykTjTRRXKlwkTr_Fi8-Me9GyM8d4iekE5llOzOASo6M0p1YQO" alt="">
      <span>Psicólogos</span>
      </a>

        <a href="/clinics" class="services">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTykTjTRRXKlwkTr_Fi8-Me9GyM8d4iekE5llOzOASo6M0p1YQO" alt="">
      <span>Clínicas de Psicología</span>
      </a>
      </div>
    </div>
  </div>
</div>
