<h1><%= title %></h1>
<p>Welcome to
  <%= title %>
</p>

<div class="container">
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
  <form action="">
    <div class="form-group">
      <label for="">¿En qué podemos ayudarte?</label>
      <input type="search" class="form-control">
    </div>
  </form>

</div>
