<h2>Área privada psicologo y clíclínica</h2>
<form action="/edit" method="post">
  <div class="form-group">
    <label for="username-input">Username</label>
    <input type="text" name="username" id="username-input" placeholder="e.g., Diana Prince" class="form-control">
  </div>
  <div class="form-group">
    <label for="name-input">Name</label>
    <input type="text" name="name" id="name-input" placeholder="e.g., Diana Prince" class="form-control">
  </div>

  <div class="form-group">
    <label for="email-input">Email</label>
    <input type="email" name="email" id="email-input" placeholder="e.g., diana@themyscira.agency" class="form-control">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="number" name="phone" id="phone" class="form-control">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" name="city" id="city" class="form-control">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" name="address" id="address" class="form-control">
  </div>
  <div class="form-group">
    <label for="photo">Photo</label>
    <input type="text" name="photo" id="photo" class="form-control">
  </div>
  <div class="form-group">
    <label>Especialidad</label>
    <input type="checkbox" id="e-clinic" name="detail">
    <label for="e-clinic">Clínicas</label>
    <input type="checkbox" id="e-couple" name="detail">
    <label for="e-couple">Pareja</label>
    <input type="checkbox" id="e-educational" name="detail">
    <label for="e-educational">Educativa</label>
  </div>
  <div class="form-group">
    <label>Tipología de pacientes</label>
    <input type="checkbox" id="e-children" name="detail">
    <label for="e-children">Niños</label>
    <input type="checkbox" id="e-teenager" name="detail">
    <label for="e-teenager">Adolescentes</label>
    <input type="checkbox" id="e-adults" name="detail">
    <label for="e-adults">Adultos</label>
  </div>
  <div class="form-group">
    <label>Orientación</label>
    <input type="checkbox" id="e-cognitive" name="cognitive">
    <label for="e-cognitive">Cognitivo conductual</label>
    <input type="checkbox" id="e-dinamic" name="dinamic">
    <label for="e-dinamic">Psicodinámica</label>
    <input type="checkbox" id="e-sistemic" name="sistemic">
    <label for="e-sistemic">Sistémica</label>
  </div>
  <div class="form-group">
    <label for="identification">Identificación / Número de colegiado</label>
    <input type="text" name="identification" id="identification" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <input type="text" name="description" id="description" class="form-control">
  </div>
  <div class="form-group">
    <label for="website">Website</label>
    <input type="text" name="website" id="website" class="form-control">
  </div>
  <div class="form-group">
    <select name="role" id="role">
      <option value="patient" selected>Patient</option>
      <option value="clinic">Clinic</option>
      <option value="psychologist">Psychologist</option>
    </select>
  </div>
  <button class="btn btn-primary">Guardar</button>
</form>


<h2>Área privada paciente</h2>

<div class="form-group">
  <label for="username-input">Username</label>
  <input type="text" name="username" id="username-input" placeholder="e.g., Diana Prince" class="form-control">
</div>
<div class="form-group">
  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input" placeholder="e.g., Diana Prince" class="form-control">
</div>
<div class="form-group">
  <label for="email-input">Email</label>
  <input type="email" name="email" id="email-input" placeholder="e.g., diana@themyscira.agency" class="form-control">
</div>
<div class="form-group">
  <label for="password-input">Password</label>
  <input type="password" name="password" id="password-input" placeholder="e.g., ••••••••••••" class="form-control">
</div>
<div class="form-group">
  <label for="phone">Phone</label>
  <input type="number" name="phone" id="phone" class="form-control">
</div>
<div class="form-group">
  <label for="city">City</label>
  <input type="text" name="city" id="city" class="form-control">
</div>
<div class="form-group">
  <label for="address">Address</label>
  <input type="text" name="address" id="address" class="form-control">
</div>
<div class="form-group">
  <label for="photo">Photo</label>
  <input type="text" name="photo" id="photo" class="form-control">
</div>
<div class="form-group">
  <label for="description">Descripción</label>
  <input type="text" name="description" id="description" class="form-control">
</div>
<div class="form-group">
  <select name="role" id="role">
    <option value="patient" selected>Patient</option>
    <option value="clinic">Clinic</option>
    <option value="psychologist">Psychologist</option>
  </select>
</div>
<button class="btn btn-primary">Guardar</button>
